<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame Scene__Accessory_Window-AppWindow-1</key>
	<string>414 317 900 450 0 0 1728 1085 </string>
	<key>NSWindow Frame com_apple_SwiftUI_Settings_window</key>
	<string>609 405 510 370 0 0 1728 1085 </string>
	<key>SS_App_runOnce__31C4C8DD-554E-41BC-9697-71F991E62387</key>
	<true/>
	<key>SS_App_runOnce__FullscreenNotificationsSetting__firstTimeEnabled</key>
	<true/>
	<key>SS_App_runOnce__UpcomingEventInMenuBarSetting__firstTimeEnabled</key>
	<true/>
	<key>SS_App_runOnce__calendarTips</key>
	<true/>
	<key>SS_App_runOnce__datoFeatureFullscreenNotificationsAnnouncement</key>
	<true/>
	<key>SS_App_runOnce__datoFeatureUpcomingMeetingInMenuBarAnnouncement</key>
	<true/>
	<key>SS_App_runOnce__enableAllRemindersLists</key>
	<true/>
	<key>SS_App_runOnce__googleCalendarSyncWarning</key>
	<true/>
	<key>SS_App_runOnce__migrate_2hdhsa21312hxh21</key>
	<true/>
	<key>SS_App_runOnce__migrate_4534h32h2h</key>
	<true/>
	<key>SS_App_runOnce__migrate_C1296C24-94F5-4DD8-8A45-7E561B0DC3C9</key>
	<true/>
	<key>SS_App_runOnce__migrate_changeRespectNaturalScrollingForCalendar</key>
	<true/>
	<key>SS_App_runOnce__migrate_countdownDisplay</key>
	<true/>
	<key>SS_App_runOnce__migrate_countdownPrecision</key>
	<true/>
	<key>SS_App_runOnce__migrate_forceSetMenuPositionedBelowMenuBarItemAndResizableWindowHeight2</key>
	<true/>
	<key>SS_App_runOnce__migrate_splitEventsRemindersDayCount</key>
	<true/>
	<key>SS_App_runOnce__upcomingEventSettingsWelcomeMessage</key>
	<true/>
	<key>SS_NSStatusItem_ensureVisibility_shouldNotShowAgain</key>
	<true/>
	<key>SS_ShowForAppRuns_GeneralSettings__feedbackNote</key>
	<integer>2</integer>
	<key>SS_ShowForAppRuns_GeneralSettings__welcomeMessage</key>
	<integer>2</integer>
	<key>SS_ShowForAppRuns_GeneralSettings_incorrectWeekNumberLink</key>
	<integer>2</integer>
	<key>SS_ShowForAppRuns_GeneralSettings_veljaTip</key>
	<integer>2</integer>
	<key>SS_ShowForAppRuns_SoundPicker_relativeToSystemVolumeTip</key>
	<integer>2</integer>
	<key>SS_ShowForAppRuns_upcomingEventInMenubar_macOSMayHideText</key>
	<integer>1</integer>
	<key>SS_ShowForAppRuns_upcomingEventInMenubar_multipleConcurrentEventsIconTip</key>
	<integer>1</integer>
	<key>SS_firstLaunchDate</key>
	<date>2026-07-02T16:53:13Z</date>
	<key>SS_launchCount</key>
	<integer>7</integer>
	<key>SS_previousLaunchedVersion</key>
	<string>5.8.2</string>
	<key>_respectNaturalScrolling</key>
	<true/>
	<key>com_apple_SwiftUI_Settings_selectedTabIndex</key>
	<integer>6</integer>
	<key>enabledCalendars</key>
	<array>
		<string>947200BB-EBD4-4CE5-8255-E68E135D53E2</string>
		<string>7888A72B-EBC8-4324-BA5C-5EE31F040F8B</string>
		<string>7CA1FC50-98BE-467C-AA4E-5A67A7ED784A</string>
		<string>2AEABAE3-ABBB-4E04-8734-8BACAB793620</string>
		<string>DDD205DF-9ADD-44A5-8320-02F40D178D3E</string>
		<string>5DBA7565-26AA-4BDF-AF7A-EBF8EFE77583</string>
		<string>7FFECFF1-AD8C-49C4-85C2-84FFE9C11537</string>
		<string>60F12021-C916-4061-B0DC-22CA1A040AB2</string>
		<string>9B07C66A-A8A5-44AE-810F-4D981CA1B4F3</string>
		<string>6BAD507A-C32E-4BAE-AD8F-FBBFA2B8CC3D</string>
		<string>1CA267D1-75C9-4768-9B03-97D303C90028</string>
		<string>45DC70FB-2777-40EA-9283-2D247924025A</string>
		<string>5EBBFDC3-B452-4ACF-AE38-24EF797E384E</string>
	</array>
	<key>enabledRemindersLists</key>
	<array>
		<string>345024A5-14D0-460D-B088-48C151A7E707</string>
	</array>
	<key>fullscreenNotifications_calendars</key>
	<array>
		<string>6BAD507A-C32E-4BAE-AD8F-FBBFA2B8CC3D</string>
		<string>5DBA7565-26AA-4BDF-AF7A-EBF8EFE77583</string>
		<string>9B07C66A-A8A5-44AE-810F-4D981CA1B4F3</string>
		<string>2AEABAE3-ABBB-4E04-8734-8BACAB793620</string>
		<string>947200BB-EBD4-4CE5-8255-E68E135D53E2</string>
		<string>DDD205DF-9ADD-44A5-8320-02F40D178D3E</string>
		<string>1CA267D1-75C9-4768-9B03-97D303C90028</string>
		<string>7888A72B-EBC8-4324-BA5C-5EE31F040F8B</string>
		<string>7CA1FC50-98BE-467C-AA4E-5A67A7ED784A</string>
		<string>5EBBFDC3-B452-4ACF-AE38-24EF797E384E</string>
	</array>
	<key>fullscreenNotifications_durationBefore</key>
	<string>[0,10000000000000000000]</string>
	<key>fullscreenNotifications_isEnabled</key>
	<true/>
	<key>fullscreenNotifications_lists</key>
	<array>
		<string>345024A5-14D0-460D-B088-48C151A7E707</string>
	</array>
	<key>fullscreenNotifications_preventQuickDismiss</key>
	<true/>
	<key>fullscreenNotifications_showOnActiveScreenOnly</key>
	<false/>
	<key>fullscreenNotifications_snoozeDuration1</key>
	<string>[6,9319535557742690304]</string>
	<key>iconInMenuBar</key>
	<string>calendar</string>
	<key>indicateEventsInCalendar</key>
	<string>none</string>
	<key>menu_positionedBelowMenuBarItem</key>
	<true/>
	<key>resizableWindowHeight</key>
	<false/>
	<key>showDateInMenuBar</key>
	<false/>
	<key>showMonthInMenuBar</key>
	<false/>
	<key>showReminders</key>
	<true/>
	<key>showTimeInMenuBar</key>
	<false/>
	<key>showWeekDayInMenuBar</key>
	<false/>
	<key>showWeekNumbersInCalendar</key>
	<false/>
	<key>upcomingEventInMenuBarCalendars</key>
	<array>
		<string>9B07C66A-A8A5-44AE-810F-4D981CA1B4F3</string>
		<string>5DBA7565-26AA-4BDF-AF7A-EBF8EFE77583</string>
		<string>7CA1FC50-98BE-467C-AA4E-5A67A7ED784A</string>
		<string>7888A72B-EBC8-4324-BA5C-5EE31F040F8B</string>
		<string>2AEABAE3-ABBB-4E04-8734-8BACAB793620</string>
		<string>6BAD507A-C32E-4BAE-AD8F-FBBFA2B8CC3D</string>
		<string>947200BB-EBD4-4CE5-8255-E68E135D53E2</string>
		<string>DDD205DF-9ADD-44A5-8320-02F40D178D3E</string>
		<string>1CA267D1-75C9-4768-9B03-97D303C90028</string>
	</array>
	<key>upcomingEventInMenuBarEventTitleLimit</key>
	<integer>25</integer>
	<key>upcomingEventInMenuBarTextSize</key>
	<real>14</real>
	<key>upcomingEventInMenuBar_boldText</key>
	<true/>
	<key>upcomingEventInMenuBar_clickMenuItemToJoinVideoCall</key>
	<true/>
	<key>upcomingEventInMenuBar_countdownDisplay</key>
	<string>countdown</string>
	<key>upcomingEventInMenuBar_countdownPrecision</key>
	<string>narrow</string>
	<key>upcomingEventInMenuBar_isEnabled</key>
	<false/>
	<key>upcomingEventInMenuBar_onlyEventsWithStatus</key>
	<string>acceptedAndTentativeAndPending</string>
	<key>upcomingEventInMenuBar_showBackgroundOnActiveEvent</key>
	<true/>
</dict>
</plist>
