<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActionsTree</key>
	<dict>
		<key>ActionsTreeCategoriesSortingKey</key>
		<string>com.elgato.streamdeck.multiactions,com.elgato.streamdeck.navigation,com.elgato.streamdeck.soundboard,com.elgato.streamdeck.streamDeck,com.elgato.streamdeck.system</string>
		<key>com.elgato.streamdeck.customTutorial</key>
		<dict>
			<key>ActionsTreeHide</key>
			<false/>
		</dict>
		<key>com.elgato.streamdeck.keys.stack</key>
		<dict>
			<key>ActionsTreeVisited</key>
			<true/>
		</dict>
		<key>com.elgato.streamdeck.multiactions</key>
		<dict>
			<key>ActionsTreeCollapse</key>
			<true/>
		</dict>
		<key>com.elgato.streamdeck.streamDeck</key>
		<dict>
			<key>ActionsTreeCollapse</key>
			<false/>
		</dict>
		<key>com.elgato.streamdeck.system</key>
		<dict>
			<key>ActionsTreeCollapse</key>
			<false/>
		</dict>
	</dict>
	<key>Devices</key>
	<dict>
		<key>@(0)[]</key>
		<dict>
			<key>DeviceName</key>
			<string>Stream Deck</string>
			<key>ESDProfilesInfo</key>
			<dict>
				<key>ESDProfilesPreferred</key>
				<string>f7e8d400-7845-4eb9-aeda-67b7fec000b5</string>
			</dict>
			<key>map_dev_brightness</key>
			<integer>80</integer>
			<key>map_dev_enabled</key>
			<true/>
		</dict>
		<key>@(1)[4057/128/A00SA6102NPFM0]</key>
		<dict>
			<key>DeviceName</key>
			<string>Stream Deck</string>
			<key>ESDProfilesInfo</key>
			<dict>
				<key>ESDProfilesExpanded</key>
				<string></string>
				<key>ESDProfilesPreferred</key>
				<string>1c6c293f-2f9d-4789-8d3b-51d5bd2c3f77</string>
			</dict>
			<key>map_dev_brightness</key>
			<integer>48</integer>
			<key>map_dev_enabled</key>
			<true/>
		</dict>
		<key>PreferredDevice</key>
		<string>@@(1)[4057/128/A00SA6102NPFM0]</string>
	</dict>
	<key>FeatureUnlockData</key>
	<string>jUJ6tme8bOWg1R9YrU/erMumRIH0bDv1/Hai/iuXVW0IloQogLfLan9pr4SXUhb2b4HJZG+XnVYNh4y3u8gt7w5LS5GtOgomrBgZZwKK+xw=</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va+QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAMQBAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAADQAAAAEB
	AABjYW1pbG9zbGFwdG9wAAAADAAAAAEBAABBcHBsaWNhdGlvbnMQAAAAAQEAAEN1cnNv
	ciBMYXVuY2hlcnMQAAAAAQYAABAAAAAgAAAAOAAAAEwAAAAIAAAABAMAACdIAAAAAAAA
	CAAAAAQDAACq+gQAAAAAAAgAAAAEAwAAKZ4oAAAAAAAIAAAABAMAACqeKAAAAAAAEAAA
	AAEGAAB8AAAAjAAAAJwAAACsAAAACAAAAAAEAABBx/rO5pR8TRgAAAABAgAAAgAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkGKT
	5wAAAAgAAAAABAAAQcffgC8AAAAkAAAAAQEAADAzMjVFQTgyLTY3NUQtNEY0OC1BNzM3
	LTEzRjI1NzFFNUM1QxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAZAAAAAAAAAAFEAAAvAAAAAAAAAAQ
	EAAA5AAAAAAAAABAEAAA1AAAAAAAAAACIAAAuAEAAAAAAAAFIAAAKAEAAAAAAAAQIAAA
	OAEAAAAAAAARIAAAbAEAAAAAAAASIAAATAEAAAAAAAATIAAAXAEAAAAAAAAgIAAAmAEA
	AAAAAAAwIAAABAEAAAAAAAABwAAADAEAAAAAAAARwAAAIAAAAAAAAAASwAAAHAEAAAAA
	AAAB0AAABAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>NSWindow Frame GoToSheet</key>
	<string>634 465 460 215 0 0 1728 1085 </string>
	<key>NUMBER_OF_LAUNCH</key>
	<integer>2</integer>
	<key>hasBeenLaunchedBefore</key>
	<true/>
	<key>last_app_session_count</key>
	<integer>6</integer>
	<key>last_app_session_report</key>
	<dict>
		<key>action_count</key>
		<integer>25</integer>
		<key>session_count</key>
		<integer>4</integer>
	</dict>
	<key>last_started_streamdeck_version</key>
	<string>7.5.0.22885</string>
	<key>last_user_activity_time</key>
	<string>2026-07-11T21:25:46Z</string>
	<key>mainWindowSplitterPosition</key>
	<data>
	AAAAAgAAAa8AAAEj
	</data>
	<key>sw_feedback_suppress_ok_ma</key>
	<false/>
	<key>vsd2_current_port</key>
	<integer>28198</integer>
	<key>wndGeometry</key>
	<dict>
		<key>main</key>
		<data>
		ASzEGwEAAAG3AAAAsQAABQgAAAOwAgAAAbcAAADNAAAFCAAAA7ADAAAAAAQA
		AAAAAAAAAAAABr8AAARc/w==
		</data>
		<key>preference</key>
		<data>
		ASzEGwEAAAHvAAABSwAABNIAAAMVAgAAAe8AAAFnAAAE0gAAAxUDAAAAAAQA
		AAAAAAAAAAAABr8AAARc/w==
		</data>
	</dict>
</dict>
</plist>
